.catalog {
  display: flex;
  justify-content: center;
  grid-template-columns: $cardWidth;
  gap: 48px;

  @include responsive(2, 488);
  @include responsive(3, 768);
  @include responsive(4, 1024);

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
